/*
 * @Author: yuze.xia 
 * @Date: 2018-11-19 15:49:19 
 * @Last Modified by: yuze.xia
 * @Last Modified time: 2018-11-19 15:51:52
 */
.cate-select{
    display:inline-block;
    width:200px;
    margin-right:20px;
}