/*
 * @Author: yuze.xia 
 * @Date: 2018-11-20 17:42:00 
 * @Last Modified by: yuze.xia
 * @Last Modified time: 2018-11-20 20:03:04
 */
$sub-img-size: 96px;
.img-con{
    position: relative;
    width: $sub-img-size;
    height: $sub-img-size;
    margin-right:10px;
    float:left;
    border:1px solid #ccc;
    .img{
        display:block;
        width:100%;
        max-height: 100%;
    }
    .fa-close{
        display:none;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        text-align:center;
        cursor:pointer;
        font-size:50px;
        line-height:  $sub-img-size;
        color:#fff;
        background:rgba(0,0,0,.2);
    }
    &:hover{
        .fa-close{
            display:block;
        }
    }
}
.margin-top15{
    margin-top:15px;
}