/*
 * @Author: yuze.xia 
 * @Date: 2018-11-19 14:10:05 
 * @Last Modified by: yuze.xia
 * @Last Modified time: 2018-11-19 14:13:36
 */

.page-header-right{
    position: absolute;
    right:15px;
    top:12px;
}