/*
 * @Author: yuze.xia 
 * @Date: 2018-11-28 10:55:40 
 * @Last Modified by: yuze.xia
 * @Last Modified time: 2018-11-28 11:16:22
 */

.p-img{
    width: 80px;
    height:auto;
}
.btn-send-goods{
    margin-left: 20px;
}